@media(max-width: 768px){
	.l-text1{
		font-size: 33px;
	}
	.wrap_header_desktop{
		display: none;
	}
	.logo-mobile{
		z-index: 1;
	}
	.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before{
		background-color: #01cfc5;
	}
	.button-widget-open{
		right: 15px;
		width: 50px;
		height: 50px;
	}
	h1.offer{
		font-size: 29px;
	    line-height: 1.5;
	    text-transform: none;
	}
	h2.offer-2{
		font-size: 20px;
	}
	.respon2{
		border: none;
	}
	.block2-overlay{
		opacity: 1;
	}
	.block2-btn-addcart{
		bottom: 20px;
	}
	.block2-price{
		font-size: 20px;
		font-family: 'Roboto', 'Open Sans', sans-serif;
		font-weight: bold;
	}
	.btn-show-menu-mobile{
		padding-right: 0;
	}
	.wrap_header_mobile .tel{
		z-index: 1;
		text-align: center;
		margin: 15px auto;
		font-family: 'Roboto', sans-serif;
	}
	.products-section{
		padding: 20px 0 20px 0;
	}
	#filters{
		/*display: none;*/
	}
	#filters_trigger{
		display: block;
	}
	#map_holder{
		margin-top: 20px;
	}
	footer{
		text-align: center;
	}
	footer .w-size2{
		margin: 0 auto;
	}
	footer .flex-m{
		display: block;
	}
}